{% extends 'base.html'  %}

{% block content %}

<div id='landing-wrapper'>
    <div class='text center welcome'>
        <div class="container center">
        <h1>Welcome To StoryTime</h1>
        <p>StoryTime is a place where you can write a story, book, thouths and so much more.</p>
        <p>StoryTime allows its users to ceap track of there creations older versions.</p>
        <p>With StoryTime you can look up movie and book descriptions if you need a litle insperation</p>
    </div>
    </div>

    <div class="container center welcomeSignup">
        <h3 class="text m-2">What are you waiting? </h3>
        <h3 class="text">Join Now and try it for your self!</h3>
        <a class="btn btn-success m-3   " href="">Sign Up</a>
    </div>
</div>
{% endblock %}